@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/globals" as *;


.log {
    display: flex;
    flex-direction: column;
    margin: 1rem;


    @include desktop {
        @include desktop-centre;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

    }
}