// Default styling applied to all pages of the site

@use "./fonts" as *;
@use "./variables" as *;
@use "./mixins" as *;

html {
  background-color: $color-instock-light-grey;
  // reset
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-instock-black;
  }

  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    * {
      font-family: "TitilliumWeb", sans-serif;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    // Page Header
    h1 {
      font-size: 1.75rem;
      line-height: 2.25rem;
      font-weight: 700;

      @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 700;
      }
    }

    //Subheader
    h2 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 700;
      @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
      }
    }

    // Labels, links and buttons
    h3 {
      font-size: 0.8125rem;
      line-height: 1.25rem;
      font-weight: 700;

      @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 700;
      }
    }

    // Table Header
    h4 {
      font-size: 0.6875rem;
      line-height: 1rem;
      font-weight: 700;
      color: $color-instock-slate;

      @include tablet {
        font-size: 0.75rem;
        line-height: 1.125rem;
        font-weight: 700;
      }
    }

    ul {
      li {
        list-style: none;
      }
    }
  }
}
