$color-ground-primary: #dfdcd3;
$color-ground-sage: #bfc8bb;
$color-ground-gray: #e4e1d6;
$color-ground-blue: #d3e0df;
$color-ground-white: #f6f5f2;
$color-ground-beige: #f0ddd3;
$color-ground-darkgray: #454545;
$color-ground-darkblue: #28334c;
$color-ground-darksage: #475145;
$color-ground-lighterdarksage: #42613e;
$color-ground-darkbeige: #7c6658;
$color-ground-darkerwhite: #c4c4c4;
$alt-darksage: #4d574d;
$color-line-lightblue: #a3cfd9;
$color-line-green: #8ebfa6;
$color-line-lilac: #c4b7c5;
$color-line-gold: #d3c29a;
$color-line-rose: #dab5b9;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
