$color-ground-primary: #dfdcd3;
$color-ground-sage: #bfc8bb;
$color-ground-gray: #e4e1d6;
$color-ground-blue: #d3e0df;
$color-ground-white: #f6f5f2;
$color-ground-beige: #f0ddd3;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
