@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/globals" as *;

.container {
  background-color: $color-ground-sage;
  width: 100%;
  height: 7rem;
  margin: 0.5rem 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    position: absolute;
    top: 1rem;
    

    .option {
      width: 20%;
      text-align: center;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 80%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #23252b;
  height: 0.2rem;
  border-radius: 10px;
}

input[type="range"]::-moz-range-track {
  background: #23252b;
  height: 0.5rem;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px;
  background-color: #23252b;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: #23252b;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #23252b;
  outline: 3px solid #23252b;
  outline-offset: 0.125rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #23252b;
  outline: 3px solid #23252b;
  outline-offset: 0.125rem;
}

.image {
  transition: all 0.5s ease-in-out;
  width: 100px;
  height: 100px;
}

// .Poorly {
//   position: absolute;
//   top: 10%;
//   left: 1%;
//   width: 100px;
//   height: 100px;
//   transition: all 0.5s ease-in-out;

//   &::before {
//     content: "Poorly";
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 16px;
//     font-weight: bold;
//   }
// }

// .Fair {
//   position: absolute;
//   top: 35%;
//   left: 30%;
//   width: 100px;
//   height: 100px;
//   transition: all 0.5s ease-in-out;

//   &::before {
//     content: "Fair";
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 16px;
//     font-weight: bold;
//   }
// }

// .Good {
//   position: absolute;
//   top: 35%;
//   left: 44%;
//   width: 100px;
//   height: 100px;
//   transition: all 0.5s ease-in-out;

//   &::before {
//     content: "Good";
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 16px;
//     font-weight: bold;
//   }
// }

// .VeryGood {
//   position: absolute;
//   top: 35%;
//   left: 58%;
//   width: 100px;
//   height: 100px;
//   transition: all 0.5s ease-in-out;

//   &::before {
//     content: "Very Good";
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 16px;
//     font-weight: bold;
//   }
// }

// .Great {
//   position: absolute;
//   top: 35%;
//   left: 72%;
//   width: 100px;
//   height: 100px;
//   transition: all 0.5s ease-in-out;

//   &::before {
//     content: "Great!";
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 16px;
//     font-weight: bold;
//   }
// }
